/* body and footer design */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(-45deg, hsl(216, 81%, 51%), hsl(300, 90%, 48%), hsl(197, 90%, 48%), hsl(106, 90%, 48%));
    background-size: 400%, 400%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    animation: change 10s ease-in-out infinite;
}
@keyframes change {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
footer{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    border-radius: 30px;
    background-color: white;
    display: flex;
    margin: 50px;
    width: 300px;
    height:500px;
    flex-direction: column;
    padding: 20px;
}
.screen{
    width: 100%;
    height: 30%;
    background-color: black;
    border-radius: 30px;

}
.screen .innerdisplay{
    font-size: 10px;
    color: white;
}
.btnnum{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}
.btnnum button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    padding: 10px;
}
.btnnum #equals{
    padding-left: 500px;
    background-color: black;
}